<h3>Welcome to Pizza Palace! &#127829;</h3>
<p>If you are looking for a tasty new pizza recipe or just want to share your recipe with the world, you have come to the right place! 
  Create an account today to gain access to the world's best pizza recipes!</p>

<% if logged_in? %>
    <p> You are logged in as <%= current_user.username %><br><br>
    Browse <a href='/pizzas'>all pizzas</a> or <a href="/logout">log out</a></p>
<% else %>
    <p>You are not logged in. <br><br>
    To view the recipes, please <a href="/login">sign in</a> or <a href="/signup">create an account</a>.</p>
<% end %>

</div>